.rd-search-out{
    width: 318px;
    height: 36px;
    margin: 10px auto;
    cursor: all-scroll;
    background: #fff;
    border: #dbdada solid 1px;
    border-radius: 3px;
}
.rd-search-out input{
	width: 80%;
    height: 36px;
    line-height: normal;
    border: 0px;
    padding-left: 5%;
    background: none;
    font-size: 14px;
    outline: none;
}
.rd-search-out button{
	background-color: #fff;
	float: right;
    width: 20px;
    height: 18px;
    background-image: url('../../static/search.png');
    background-size: 20px 18px;
    border: 0px;
    margin: 10px 5px 0 0
}
.rd-search-out:hover{
	cursor: all-scroll;
	background-color: #fff;
	border: 2px dashed #fa0;
}