.tips-box {
	position: absolute;
	top: 0;
	left: 364px;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tips-box:after {
    position: absolute;
    left: -12px;
    top: 11px;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #f8f8f8 transparent;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);  
}

.tips-box:before {
    position: absolute;
    left: -15px;
    top: 10px;
    width: 0;
    height: 0;
    content: "";
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #ccc transparent;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);  
}

/*.tips-box:before {
    position: absolute;
    font-family: simsun;
    content: "◆";
    top: 8px;
    left: -12px;
    display: block;
    width: 9px;
    height: 8px;
    font-size: 24px;
    color: #F8F8F8;
    z-index: 111;
}*/