.rd-title-box {
	position: relative;
	height: 30px;
	/*background: #28c192;*/
	/*margin: 12px 12px;*/
	margin-top: 12px;
	cursor: all-scroll;
	overflow: hidden;
}

.title-style {
	font-size: 14px;
	font-weight: bold;
	height: 100%;
}

.title-style>span {
	padding:0 10px;
}

.title-style-1 {
    background: #28c192;
    padding: 8px 0;
    color: #fff !important;
}

.title-style-2 {
    font-size: 14px;
    padding: 8px 0;
	font-weight: bold;
	height: 100%;
	background: white;
	color: #222;
}

.title-style-3 {
    color: #878687;
    text-align: center;
}
.title-style-3>span{
	position: absolute;
    left: 44%;
    top: 17%;
    background-color: #f9f9f9;
}

.title-style-4 {
    background: #fff;
    padding: 8px 0;
    
    color:#707070;
}

.title-style-4>span {
	display: inline-block;
	padding-left: 8px;
	border-left:2px solid red; 
}

/* .rd-title-tips {  //hhh
	width: 560px;
} */

.rd-title-tips .rd-title-tips-title {
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	float: left;
    width: 110px;
    text-align: right;
    color: #333;
    font-weight: bold;
    margin-right: 12px;
}
.rd-title-group {
	margin-top: 10px;
}
.rd-title-group * {
	cursor: pointer;
}
.rd-title-tips input {
	height: 30px;
	padding-left: 8px;
}
.rd-title-tips * {
	vertical-align: middle;
}
.style-group {
	font-size: 12px;
	margin-left: 8px;
	margin-right: 12px;
}
.rd-title-box-line{
	height: 2px;
	width: 100%;
	position: absolute;
	top:46%;
	background-color: #efefef;
}
.text-style1{
	text-align:left !important;
}

.text-style2{
	text-align:center !important;
}

.text-style3{
	text-align:right !important;
}

.text-style1>span {
	left: 0;
}


.text-style3>span {
	left: 76%;
}