.rd-title-box {
	position: relative;
	height: 30px;
	/*background: #28c192;*/
	/*margin: 12px 12px;*/
	margin-top: 12px;
	cursor: all-scroll;
	overflow: hidden;
}

.title-style {
	font-size: 14px;
	font-weight: bold;
	height: 100%;
}

.title-style-1 {
    background: #28c192;
    padding: 8px 10px;
    color: #fff !important;
}

.title-style-2 {
    font-size: 14px;
    padding: 8px 10px;
	font-weight: bold;
	height: 100%;
	background: white;
	color: #222;
	text-align: center;
}

.title-style-3 {
    background: red;
    padding: 8px 10px;
    color: #fff;
}

.title-style-4 {
    background: black;
    padding: 8px 10px;
    color: #fff;
}

/* .rd-title-tips {  //hhh
	width: 560px;
} */

.rd-title-tips .rd-title-tips-title {
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	float: left;
    width: 110px;
    text-align: right;
    color: #333;
    font-weight: bold;
    margin-right: 12px;
}
.rd-title-group {
	margin-top: 10px;
}
.rd-title-group * {
	cursor: pointer;
}
.rd-title-tips input {
	height: 30px;
	padding-left: 8px;
}
.rd-title-tips * {
	vertical-align: middle;
}
.style-group {
	font-size: 12px;
	padding-left: 8px;
	padding-right: 12px;
}