ul {
    list-style: none;
}

.rd-main-box {
    /*margin-top: 80px;*/
}

.phone-main {
    width: 320px;
    margin: 0 auto;
    background: #f9f9f9;
    padding-top: 12px;
}

.left-menu {
    position: fixed;
    /*margin-top: 80px;*/
    width: 145px; 
    overflow: hidden;
    border-radius: 8px; 
}

.left-menu-header {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: white;
    padding-left: 12px;
    background: #666;
}

.editorList-ul {
    width: 100%;
    padding-top: 10px;
    background-color: #f3f3f3;
    font-size: 12px;
    user-select:none;
}

.editorList-ul li {
    position: relative;
    cursor: pointer;
    width: 57px;
    height: 42px;
    margin: 5px 0 15px 10px;
    text-align: center;
    border: 1px solid grey;
    color: #666;
    float: left;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    background: white;
    padding: 0 15px;
    /*padding: 0 11px;*/
}

.editorList-ul li span {
    vertical-align: middle;
    display: table-cell;
    margin-left: 11px;
    width: 24px;
    height: 42px;
}

.editorList-ul li img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

.editorList-ul li:hover {
    background: #fff;
    color: #666;
    border: 1px solid #ff9900;
}

.editorList-ul li:hover img {
    display: block;
}

.phone-style {
    padding-top: 111px;
    margin-left: 155px;
    width: 345px;
    /*height: 600px;*/
    padding-bottom: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    margin-bottom: 10px;
}

.phone-header {
    position: absolute;
    top: 10px;
    left: 38%;
    width: 98px;
    height: 34px;
    background-position: 0 -74px;
    background-image: url('../../static/phone.png');
}

.phone-footer {
    position: absolute;
    bottom: 0;
    left: 42%;
    margin: 10px auto;
    width: 62px;
    height: 61px;
    background-position: -253px -70px;
    background-image: url('../../static/phone.png');
}

.phone-status {
    position: absolute;
    top: 60px;
    width: 320px;
    left: 11px;
    height: 63px;
    text-align: center;
    padding-top: 29px;
    background-image: url('../../static/phone.png');
}

.phone-status-title {
    color: #fff;
    font-size: 18px;
}